{
    "$schema": "https://on.cypress.io/cypress.schema.json",
    "chromeWebSecurity": false,
    "viewportWidth": 1280,
    "viewportHeight": 720,
    
    "env": {
        "domain": "https://leekwars.com/garden/solo/81711"
    },
    "reporter": "mochawesome",
    "reporterOptions": {
        "charts": true,
        "overwrite": false,
        "html": false,
        "json": true,
        "reportDir": "cypress/report/mochawesome-report"
    }
}
