{
    "$schema": "https://on.cypress.io/cypress.schema.json",
    "chromeWebSecurity": false,
    "viewportWidth": 1280,
    "viewportHeight": 720,
    "env": {
        "login": "email@example.com",
        "password": "password",
        "garden_id": XXX,
        "leek_id": XXX
    },
    "reporter": "mochawesome",
    "reporterOptions": {
        "charts": true,
        "overwrite": false,
        "html": false,
        "json": true,
        "reportDir": "cypress/report/mochawesome-report"
    }
}
